.bills__container {
  max-width: 500px;
  box-shadow: 2px 5px 20px rgba(60, 60, 60, 0.609);
  width: 80%;
  margin: auto;
  margin-block: 50px;
  padding: 1rem;
  border-radius: 4px;
  background-color: whitesmoke;
}

.bills__container > h3 {
  text-align: center;
  color: rgb(44, 43, 43);
}