.billList {
   margin-top: 1rem;
}

.editMode {
   padding: 6px 2rem ;
   background-color: #114170;
   display: inline-block;
   color: white;
   cursor: pointer;
   margin-bottom: 1rem !important;
   font-weight: 500;
}

.billListRow {
   display: flex;
   gap: 2rem;
   align-items: center;
   margin-bottom: 0.6rem;
   /* justify-content: center; */
}

.billListRow > input[type=checkbox] {
   height: 25px;
   width: 25px;
   accent-color: #114170;
}

.billListRow__content {
   font-weight: 500;
   font-size: 1.1rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
}